.btn-success {
  background-color: #4f9f61!important;
}
.btn-success.active{
  background-color: #007bff!important;
}
.header {
  text-align: center;
  background: #4c7a9c;
  color: white;
  font-size: 30px;
}

canvas {
  background-image: url(logo3.png);
  background-repeat: round;
  background-size: contain;
}

.pantalla-completa{
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.content {
  color: #fff;
}
.opaco {
  opacity: .4;
}